.fondodestinos {
  background-color: rgb(249, 243, 236);
  min-height: 100vh;
  width: 100%;
}
.img-pacifico {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

.img-caribe {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.img-montana {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

.img-norte {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

.titulo1 h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  font-weight: 700;
  color: rgb(10, 80, 50);
  font-weight: 700;
  margin-bottom: 40px;
}

.parrafo1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 40px;
  margin-top: 10px;
  color: #333;
  line-height: 1.7;
}

.btn {
  font-family: "Playfair Display", serif;
  background-color: rgb(4, 129, 109);
  border: 2px solid #064a2b;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 30px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #0a5032;
  border-color: #0a5032;
  transform: scale(1.05);
}
